.form {
  border: 2px solid darkblue;
  border-radius: 6px;
  padding: 12px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoWrp {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: darkblue;
  padding-left: 8px;
}

.input {
  border: 1px solid darkblue;
  border-radius: 4px;
  height: 30px;
  padding: 4px 8px;
  color: darkblue;
  outline: none;
}

.submit {
  height: 30px;
  width: 120px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid darkblue;
  border-radius: 4px;
  background-color: transparent;
  color: darkblue;
}

.submit:hover,
.submit:focus {
  background-color: darkblue;
  color: white;
}
