* {
  box-sizing: border-box;
  letter-spacing: 0.04em;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
